/*	隐藏全局搜索  */
header#header form{
	display: none;
}
.required{
	color: #FF0000;
	margin-right: 5px;
    vertical-align: middle;
}
button.disable,
a.disable{
	cursor: not-allowed !important;
}

.ui-datepicker{
	z-index: 3000;
}

.hide{
	display: none;
}
.warn {
	border: 2px solid #FF0000;
}
.noscroll{
	overflow: hidden !important;
}

.user-select{
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.ui.input input.disable,.item-box .input-select.disable,.item-box .input-area.disable{
	background-color: #F5F5F7;
}

/*#content{
	position: absolute;
	top: 86px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #F0F0F0;
}*/

textarea{
	border-radius: 3px;
    border:1px solid #D9D9D9;
}

textarea:focus{
	border-color: #78A8D5;
}

label.error{
	color: #fc0a32;
	font-size: 12px;
	margin-left: 15px;
}
label.error.ip.null{
	left: 122px;
	position: relative;
}
label.error.ip{
	display: inherit;
}
label.error.ip.integer{
	line-height: 48px;
}
.input-tip{
	color: #999;
	margin-left: 10px;
}

#major {
	/* display: none; */
    bottom: 0;
    left: 86px; 
    position: absolute;
    right: 0;
	top: 0px;
    overflow: auto;
}
#major .layout_content_main{
	position: absolute;
    bottom: 0;
	left: 0px;  
    right: 0;
	top: 0px;
	background-color: #f0f0f0;
    overflow: auto;
}
#major .layout_content_main .layout_content_main_content{
	position: absolute;
    bottom: 0px;
	left: 15px;
    right: 0px;
	top: 0px;
	background-color: #FFFFFF;
    overflow: auto;
}
#content .wrapper {
    background-color: #FEFEFE;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

#sidebar {
	display: none;
    background-color: #F6FBFF;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 10px;
    width: 50px;
}


#sideResize {
    cursor: w-resize;
    font-size: 0;
    height: 38px;
    left: 100%;
    margin-top: -1px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 9px;
    z-index: 100;
}
#sideExpand iframe, #sideResize iframe {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200;
}
#sideResize span.resize {
    background: url("/module/common/images/bg/resizable.png") no-repeat scroll right 0 transparent;
    bottom: 0;
    height: 38px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 9px;
    z-index: 300;
}

.tab-panel{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
}

.tab-panel .tab-header{
	/*display: none;*/
	height: 33px;
	line-height: 33px;
	background-color: #FFFFFF;
	font-size: 14px;
	/*color:#FFFFFF;*/
	border:1px solid #CCCCCC;
}

.tab-panel .tabs{
	position: absolute;
	top: 35px;
	bottom: 0;
	width: 50px;
	background-color: #4d83ac;
	float: left;
}
.tab-panel .tabs li{
	display: none;
	text-align: center;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	/*padding-left: 4px;*/
	padding-top: 2px;
	padding-right: 4px;
}


.tab-panel .tab-content{
	position: absolute;
	top: 40px;
	left: 50px;
	right: 0;
	bottom: 0;
	padding-left: 15px;
	border-right: 1px solid #e3e2e2;
	background-color: #EBF0F4;
}

.tab-panel .tab-content span.title{
	display: inline-block;
	margin-top: 13px;
	margin-bottom: 5px;
}

.tab-panel .tabs li.active{
	background-color: #3D9DE0;
}
.tab-panel .tab-content>div,
.tab-panel .tab-header>div{
	display: none;
}

.tab-panel .tab-content>div.active,
.tab-panel .tab-header>div.active{
	display: block;
}

.tab-panel .tab-header>div.active{
	display: inline-block;
	width: 49%;
	cursor: pointer;
}
.tab-panel .tab-header>div.select{
	font-weight: bold;
	height: 35px;
	color: #188dfb;
	border-bottom: 3px solid #188dfb;
}

.tab-panel .tab-content>div:not('search'){
	display: none;
}
.tab-panel .tab-content div.active{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


.tab-content .search{
	position: relative;
	width: 202px;
	height: 26px;
	margin-top: 6px;
	margin-bottom: 6px;
}
/*.tab-content .scrollbarPanel{
	bottom: 0;
    left: 15px;
    position: absolute;
    right: 0;
}*/

.tree-container{
	position:absolute;
	top:40px;
	left:15px;
	right:0;
	bottom:0
}

.lines-container{
	position:absolute;
	top:32px;
	left:0;
	right:0;
	bottom:0
}




/* 小图标 */
.icons-suser{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px -68px transparent;
}

.icons-user{
	display: inline-block;
	width: 41px;
	height: 50px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -5px -66px transparent;
}

.icons-sstorehouse{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px -68px transparent;
}

.icons-storehouse{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px -68px transparent;
}
.icons-sgoods{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px -166px transparent;
}

.icons-goods{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px -166px transparent;
}
.icons-jzuser{
	display: inline-block;
	width: 41px;
	height: 50px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -179px -66px transparent;
}

.icons-sorg{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px -20px transparent;
}
.icons-org{
	display: inline-block;
	width: 41px;
	height: 50px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -5px  -17px transparent;
}
.icons-jzorg{
	display: inline-block;
	width: 41px;
	height: 50px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -179px  -17px transparent;
}

.icons-srole{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px -122px transparent;
}
.icons-role{
	display: inline-block;
	width: 41px;
	height: 50px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -5px  -119px transparent;
}

.icons-sstructure{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px -368px transparent;
}
.icons-structure{
	display: inline-block;
	width: 40px;
	height: 50px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -7px  -366px transparent;
}


/*设备管理的小图标*/
.icons-servicer{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -6px  -167px transparent;
}
.icons-device{
	display: inline-block;
	width: 42px;
	height: 42px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -4px -218px transparent
}
.icons-camera{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -5px  -272px transparent;
}
.icons-relation{
	display: inline-block;
	width: 44px;
	height: 42px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -5px  -322px transparent;
}
.icons-dictionary{
	display: inline-block;
	width: 44px;
	height: 42px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -5px  -411px transparent;
}

.icons-sservicer{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px  -170px transparent;
}
.icons-sdevice{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px  -218px transparent;
}
.icons-scamera{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px  -271px transparent;
}
.icons-srelation{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px  -327px transparent;
}
.icons-sdictionary{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px  -412px transparent;
}

/* 地图配置部门*/
.icons-smark{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px -460px transparent;
}
.icons-mark{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -6px -457px transparent;
}
.icons-sdefense{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px -502px transparent;
}
.icons-defense{
	display: inline-block;
	float: left;
	width: 50px;
	height: 42px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -6px -501px transparent;
}
.icons-sdefensecircle{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px -736px transparent;
}
.icons-defensecircle{
	/*display: inline-block;*/
	display: none;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -2px -736px transparent;
}

/*业务管理的小图标*/
.icons-scameraMan{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px -547px transparent;
}
.icons-cameraMan{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -5px -548px transparent;
}
.icons-stvwall{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -50px -597px transparent;
}
.icons-tvwall{
	display: inline-block;
	float: left;
	width: 50px;
	height: 40px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -3px -598px transparent;
}

/*.icons-add{
	display: inline-block;
	float: right;
	width: 18px;
	height: 38px;
	margin-right: 15px;
	background: url("/images/sprites/tree_bg.png") no-repeat scroll -116px 12px transparent;
	cursor: pointer;
}*/

/*面包屑样式*/
.breadcrumb{
	display: block;
	line-height: 35px;
	/* border-top:1px solid #ccc; */
	/* border-bottom:1px solid #ccc; */
	background-color: #f0f0f0;
	font-size: 13px;
}
.breadcrumb .nowLocation_ico{
	display: inline-block;
	width: 28px;
	height: 28px;
	position: relative;
	top: 8px;
}

.breadcrumb a{
	cursor: pointer;
	color:#3A94FF;
}

.search-form{
	background-color: #f0f0f0;
	padding-bottom: 10px;
	/* padding-left: 15px; */
	/*height: 34px;*/
	/*position:relative;*/
}
.search-form.jz{
	display: inline-block;
	width: 100%;
	padding: 6px 0;
}
.search-form .form-ul{
	width:100%;
	display: inline-block;
	height: 36px;
}
.search-form .form-ul .user-filter-form{
	display: inline-block;
	line-height: 34px;
	height: 34px;
	width:100%;
}
.search-form .form-ul .user-filter-form-li{
	display: inline-block;
	line-height: 34px;
	height: 34px;
	float: left;
	/*margin-left: 12px;*/
	/*width: 16%;*/
	width: 150px;
}
.search-form .form-ul .btn-li-search{
	position: relative;
	top: 7px;
	width: 7%;
}
.search-form .form-ul .btn-li-reset{
	position: relative;
	top: 7px;
	width: 5%;
}

.search-form .form-ul .user-filter-form-li label{
	display: inline-block;
	text-align: right;
	/*width: 27%;*/
	display: inline-block;
	text-overflow: ellipsis;
	word-break: break-all;
	white-space: nowrap;
}

.search-form .form-ul.btns .user-filter-form-li{
	float: right;
	width: 67px;
}

.search-form .form-ul.btns .user-filter-form-li a{
	margin-top: 10px;
}

/*.search-form .form-ul .user-filter-form-li .input-text{

}*/
.user-filter-form .ui.input{
	width:70%;
}
.user-filter-form .ui.input input{
	/*width:75%;*/
	width: 95px;
	padding: 0px;
	height: 26px;
}
.search-form .input-text{
	height: 22px;
	line-height: 22px;
	width: 170px;
	padding-right: 30px;
	margin:4px 0;
	border:1px solid #E2E5EA;
	
	font-size: 12px;
}
.search-form .input-text:focus{
	border-color: #78A8D5;
	color:#444;
}
.search-form button.go{
	position: absolute;
	height: 27px;
	border-style: none;
	cursor: pointer;
	background: url("/module/common/images/search_small.png") no-repeat scroll 0 4px transparent;
	width: 18px;
	margin-top: 4px;
	margin-left: -25px;
}
.search-form .add{
	display: inline-block;
	margin-left: 15px;
	margin-top: 6px;
	width: 55px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	border:1px solid #cfd2d4;
	background-color:#dce1e6;
}
.list-container .synOrg{
	margin-top: 4px;
}
.search-form .synuser,.search-form .search,.list-container .synOrg{
	display: inline-block;
	float: right;
	/*margin-right: 15px;*/
	width: 55px;
	height: 22px;
	line-height: 22px;
	cursor: pointer;
	border:1px solid #cfd2d4;
	background-color:#dce1e6;
	text-align: center;
	margin-right: 15px;
}
.search-form .synuser,.search-form .reset{
	display: inline-block;
	float: right;
	/*margin-right: 15px;*/
	width: 55px;
	height: 22px;
	line-height: 22px;
	cursor: pointer;
	border:1px solid #cfd2d4;
	background-color:#dce1e6;
	text-align: center;
	margin-right: 15px;
}
.search-form .form-ul.btns .btn-li-setRole{
	float: right;
	width: 96px;
}
.search-form .setRole{
	display: inline-block;
	float: right;
	/*margin-right: 15px;*/
	width: 85px;
	height: 22px;
	line-height: 22px;
	cursor: pointer;
	border:1px solid #cfd2d4;
	background-color:#dce1e6;
	text-align: center;
	margin-right: 15px;
}
.search-form .form-ul.btns .btn-li-showSameLevel{
	float: right;
	width: 96px;
}
.search-form .showSameLevel{
	display: inline-block;
	float: right;
	/*margin-right: 15px;*/
	width: 85px;
	height: 22px;
	line-height: 22px;
	cursor: pointer;
	border:1px solid #cfd2d4;
	background-color:#dce1e6;
	text-align: center;
	margin-right: 15px;
}
.search-form .add i{
	display: inline-block;
	float: left;
	height: 20px;
	width: 10px;
	margin: 0 6px;
	background: url("/module/settings/common/images/icons.png") no-repeat scroll -120px -29px transparent;
}

.search-form .action-panel{
	position: relative;
	float: right;
}

.search-form .allot{
	display: inline-block;
	float: right;
	margin-right: 16px;
	margin-top: 6px;
	width: 55px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	border:1px solid #cfd2d4;
	background-color:#dce1e6;
	/*position:relative;*/
}
.search-form .allot i{
	display: inline-block;
	float: left;
	height: 10px;
	width: 10px;
	margin: 0 6px;
	margin-top: 4px;
	background: url("/module/settings/common/images/allot.png") no-repeat;
}

.search-form .sync-server{
	display: inline-block;
	float: right;
	margin-right: 16px;
	margin-top: 6px;
	width: 76px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	border:1px solid #cfd2d4;
	background-color:#dce1e6;
	/*position:relative;*/
}
.search-form .sync-server i{
	display: inline-block;
	float: left;
	height: 10px;
	width: 10px;
	margin: 0 6px;
	margin-top: 4px;
	background: url("/module/settings/common/images/allot.png") no-repeat;
}

.search-form .set-camera-score{
	display: inline-block;
	float: right;
	margin-right: 16px;
	margin-top: 6px;
	width: 78px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	border:1px solid #cfd2d4;
	background-color:#dce1e6;
	/*position:relative;*/
}
.search-form .set-camera-score i{
	display: inline-block;
	float: left;
	height: 10px;
	width: 10px;
	margin: 0 6px;
	margin-top: 4px;
	background: url(/module/settings/common/images/allot.png) no-repeat;
}

.search-form .org-position{
    position: relative;
    float: right;
    height: 25px;
}
.org-template{
	display: none;
    width: 248px;
    height: 350px;
    border:1px solid #d0d1d5;
    background-color: #FFFFFF;
    z-index: 999;
    position: absolute;
    top:28px;
    right: 30px;
}
/*	设备管理摄像机列表 分配摄像机 覆写样式*/
#cameras .org-template{
	right: 16px;
}
.org-template .title{
    width: 247px;
    height: 30px;
    border:1px solid #DADEE3;
    background-color: #dce1e5;
    text-align:left;
    line-height: 30px;
}
.org-template .title span{
    height: 30px;
    text-align:left;
    margin-left: 15px;
    line-height: 30px;
}
.org-template .org {
	width: 225px;
	border:1px solid #edecf1;
	margin-left: 10px;
	height: 270px;
	margin-top: 5px;
}
.camera-score-panel{
	display: none;
    width: 180px;
    height: 120px;
    border:1px solid #d0d1d5;
    background-color: #FFFFFF;
    z-index: 999;
    position: absolute;
    top:28px;
    right: 16px;
}
.camera-score-panel .csp-head{
	height: 30px;
	line-height: 30px;
    padding-left: 8px;
	background-color: #dce1e5;
    border: 1px solid #dadee3;
}
.camera-score-panel .csp-content{
	/*height: 25px;*/
	padding: 8px 12px;
}
.camera-score-panel .csp-footer{

}
.camera-score-panel .csp-footer .ui.button{
	height: 26px;
	line-height: 24px;
	margin-left: 15px;
}
.camera-score-panel .input-text{
	width: 134px;
	border-radius: 6px;
	padding: 0 10px;
}


#allotService .scrollbarPanel .viewport,
#test .scrollbarPanel .viewport{
	height: 100px;
}

/*#test  .track{
	background-color:#F0F0F0;
	background-image: none;
	width: 5px;
}
#test .scrollbar{
	width: 5px;
}
#test .thumb,
#test .thumb .end{
	background: url("/images/bg/scroll2.png") no-repeat scroll center center #D5D5D5;
    cursor: pointer;
    height: 72px;
    position: relative;
    width: 5px;
}*/

#allotService1,#test1,#allotVideos1{
	width: 213px;
	/*margin-left: 10px;*/
	/*margin-top: 10px;*/
	height: 271px;
	padding-left: 13px;
	overflow: auto;
}

.org-template .foot .ui.button{
	height: 26px;
	line-height: 24px;
	/*margin-left: 80px;*/
	/*width: 50px;*/
}

.org-template .foot .save{
	margin-top: 10px;
	margin-left: 90px;
}
.org-template .foot .cancel{
	margin-top: 10px;
	margin-left: 15px;
}

li.tree span.active{
	/*background-color: #1764B7;*/
	color:#188DFB;
	font-weight: bolder;
}

.search-form .content{
	/*display: inline-block;*/
	position: relative;
}
.search-form.jz .content{
	width: 100%;
}
.content-panel{
	margin: 0;
	padding:0;
}

/*#content>div.addUser-panel,
#content>div.org,
#content>div.user{
	display: none;
}*/

#content>div.active{
	display: block;
}

#content>div.main{
	position: absolute;
	top: 10px;
	left: 280px;
	bottom: 0;
	right: 0;
	overflow-y: auto;
	background-color: #fff;
	display: none;
}

/* 公共样式  */
#masklayer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.2;
	z-index: 900;
	display: none;
	background-color: #000000;
	filter: alpha(opacity=20);
	_position: absolute;
	_width: 100%;
	_height: expression(function(){return Math.max(document.documentElement.clientHeight,document.documentElement.scrollHeight);
}());
}

#masklayer iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.input-time, .input-date {
	cursor: pointer;
}

#domPanel{
	*position: relative;
	*z-index: -10
}


.tree-search{
	position: relative;
	width: 200px;
	margin-top: 8px;
	margin-bottom: 5px;
}

.tree-search input {
	padding: 0 25px 0 11px;
	/*padding: 0 23px 0 10px;*/
	width: 148px;
	height: 25px;
	line-height: 25px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    color: #999;
    font-size: 12px;
    margin: 0 0 0 15px;
    transition: background-color 0.2s ease-out 0s, box-shadow 0.2s ease 0s, border-color 0.2s ease 0s;
    vertical-align: middle;
}
.tree-search input:focus {
    border-color: #78A8D5;
    color: #444444;
}
.tree-search #searchBtn{
    font-size: 0;
    position: absolute;
    width: 20px;
    height: 20px;
	top:4px;
	right: 6px;
    background: url("/module/common/images/search_small.png") no-repeat scroll center center transparent;
    border: medium none;
    cursor: pointer;
    font-size: 0;

}

.base-info {
	font-size: 12px;
}
.base-info .header{
	background-color: #F5F5F7;
	height: 33px;
	line-height: 33px;
	border-bottom: 1px solid #E3E2E2;
	border-top: 1px solid #E3E2E2;
}

.base-info .header span{
	position: relative;
	display: inline-block;
	margin-left: 15px;
	font-size: 13px;
}
.base-info .header>span i{
	position:absolute;
	display: inline-block;
	height: 8px;
	width: 16px;
	left: 12px;
	top: 23px;
	background: url("/module/settings/usermgr/images/arrow.png") no-repeat scroll 0 0 transparent;
}

.base-info .header{
	margin-top: -1px;
}

.base-info .content{
	padding: 5px 0;

}

select{
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

/* -- 自动填充 --  */
.suggest-panel {
	position: absolute;
	left: 8px;
	top: 5px;
	/*display: none;*/
	background-color: #FFFFFF;
	z-index: 10;
	border: 1px solid #D9D9D9;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	color: #929292;
	width: 144px;
	padding: 5px;
	_width: 142px;
	width:142px\0;
	border-top: none;
	border-color:#000\0;
}

.suggest-panel li {
	height: 20px;
	line-height: 20px;
	display: block;
	cursor: default;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
}

.suggest-panel li.active {
	background-color: #F2F5F9;
}

/* -- END 自动填充 --  */

#sidebar .no-item{
	padding-top: 6px;
	text-align: center;
}


/*.common-dialog {
    height:200px!important;
    width:380px!important;
    overflow: hidden;
}
.common-dialog .wrapper section {
    height:117px!important;
    padding:0 20px!important;
    text-align: left!important;
    overflow: hidden;
}
.common-dialog .wrapper section p {
    padding-top:39px;
}*/

.common-dialog .wrapper header a.close {
    background: url(/module/common/images/buttons/dialog-close.png) no-repeat scroll center center transparent;
}
.common-dialog .wrapper header a.close:hover {
    background: url(/module/common/images/buttons/dialog-close-hover.png) no-repeat scroll center center transparent;
}

.common-dialog .wrapper footer {
    padding:0 0 12px 0!important;
    text-align: center!important;
    background: transparent!important;
    border: none!important;
}
.common-dialog .wrapper footer input.ui.button {
    height:28px!important;
    line-height:28px!important;
}
.control-choose-role-panel{
	height: 430px
}
.control-choose-role-panel .selectBoxPanel{
	padding: 0px 0px 0px 5px;
	height: 325px;
}
.control-choose-role-panel .selectBoxPanel .rolePanel{
	margin-right: 5px;
}
.control-choose-role-panel .selectBoxPanel .resourceRolePanel{
	overflow: hidden;
}
.control-choose-role-panel .selectBoxPanel .rolePanel,.control-choose-role-panel .selectBoxPanel .resourceRolePanel{
	width: 49%; 
	height: 100%; 
	float: left;
}
.control-choose-role-panel .selectBoxPanel .rolePanel ul,.control-choose-role-panel .selectBoxPanel .resourceRolePanel ul{
	margin-top: 5px;
	max-height: 93%; 
	overflow-y: auto;
	overflow-x: hidden;
}
.control-choose-role-panel .selectBoxPanel .resourceRolePanel ul{
	width: 100%;
}
.control-choose-role-panel .selectBoxPanel .rolePanel ul li,.control-choose-role-panel .selectBoxPanel .resourceRolePanel ul li{
    height: 26px;
    line-height: 26px;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.control-choose-role-panel .selectBoxPanel .rolePanel ul li:hover,.control-choose-role-panel .selectBoxPanel .resourceRolePanel ul li:hover{
    background-color: #edf2f8;
}
.control-choose-role-panel .selectBoxPanel .rolePanel ul li i.checkbox,.control-choose-role-panel .selectBoxPanel .resourceRolePanel ul li i.checkbox{
    margin: 5px 5px 0 0;
    vertical-align: top;
}
.control-choose-role-panel .checkbox {
    background: url(/module/common/images/sprites/tree_bg_halfCheck.png) no-repeat -32px 0;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    margin-right: 5px;
    vertical-align: sub;
}
.control-choose-role-panel .checkbox.checked {
    background: url(/module/common/images/sprites/tree_bg_halfCheck.png) no-repeat -47px 0;
}
.control-choose-role-panel .choose-footer{
    position: absolute;
	bottom: 5px;
	left: 36%;
}
.control-choose-role-panel .choose-footer .sure{
    margin-right: 5px;
}

.tab-content .datepicker{
	height: 23px;
	width: 115px;
	border: 1px solid #131112;
	padding: 0;
	cursor: pointer;
	background: url("/module/common/images/icon_calendar.png") no-repeat 95px 2px;
}
.tab-content .datepicker.onlyMark{
	height: 23px;
	width: 157px;
	border: 1px solid #131112;
	padding: 0;
	cursor: pointer;
	background: url("/module/common/images/icon_calendar.png") no-repeat 138px 2px;
	border: solid 1px #d9d9d9;
}

.tab-content .item {
	width: 34px;
	height: 20px;
	color: #188DFB;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}

.tab-content .item.active {
	background: #C7E3F9;
}


#record .mtop{
	margin-top: 10px;
}
#record .mtop .cinput{
	margin-left: 11px;width: 157px;height: 23px;border: solid 1px #d9d9d9;
}

#major2 {
	display: block;
}
#major2 {
	border-bottom: 1px solid #DFDFDF;
	border-top: 1px solid #DFDFDF;
}
#major2 {

	bottom: 0;
	left: 280px;
	position: absolute;
	right: 0;
	top: 10px;
	overflow: auto;
}
.noscroll h3{
	display: block;
	/*float: left;*/
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.2em;
}
.noscroll .tableP {
	position: absolute;
	top: 39px;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
}
.noscroll .tableP table tr:first-child {
	background-color: #F3F3F3;
}
.noscroll .tableP table tr {
	border-bottom: #ddd 1px solid;
	background-color: #fff;
}
.noscroll .tableP table th {
	color: #333;
	font-weight: bold;
}
.noscroll .tableP table th {
	max-width: 300px;
}
.noscroll .tableP table td, .noscroll .tableP table th {
	padding-top: 11px;
	padding-bottom: 11px;
	text-align: center;
}
.noscroll .tableP table tr:hover {
	/*background-color: #F9F9F9;*/
	cursor: default;
}
.noscroll .tableP table tr {
	border-bottom: #ddd 1px solid;
	background-color: #fff;
}
.noscroll .tableP table td {
	text-align: center;
	vertical-align: middle;
	color: #666;
	width: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
