.camera-area{
	border-bottom: 1px solid #ccc;
}
#major {
	position: absolute;
	top: 10px;
	left: 280px;
	bottom: 0;
	right: 0;
}
#major .header {
	padding: 0 10px;
	height: 34px;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
}
#major .header .title {
	float: left;
	font-weight: normal;
	font-size: 12px;
	line-height: 34px;
}
#major .body .screen {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 122px;
	right: 0px;
}
.polling-camera{

}
#normal,#abnormal{
	padding: 2px 7px;
}
#normal{
	margin-top: 17px;
}
#abnormal{
	margin-top: 8px;
}
.controller-area{
    display: table;
    width: 100%;
    height: 120px;
    /* min-height: 548px; */
    min-width: 800px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.controller-area .ui.small.button {
	font-size: 15px;
}
.controller-area label,.controller-area span,.controller-area textarea {
	font-size: 15px;
}

.ui.grid .column.mark ,.ui.celled.grid .column.page-turning{
	text-align: center;
}
.ui.celled.grid .column.page-turning{
	padding-top: 30px;
	padding-right:0;
	vertical-align: top;
}
.controller-area .mark{
	display: table-cell;
	text-align: center;
	width:11.5%;
	vertical-align: top;
	padding:0.78em;
    display:none;
}
.controller-area .options{
	display: table-cell;
	width:45%;
	vertical-align: top;
    color: #3E3E3E;
}
.controller-area .remarks{
	display: table-cell;
	padding:0.78em 0;
	vertical-align: top;
    width: 36%;
	color: #AFAFAF;
}
.controller-area .remarks textarea{
	width: 60%;
	height: 90px;
	border: 1px solid #ccc;
    float:left;
}
.controller-area .remarks .button {
    display: block;
    vertical-align: middle;
    height: 24px;
    margin: 66px 0 0 15px;
    line-height: 24px;
    float: left;
}
.options span,.remarks span {
    float: left;
    margin-right:15px;
    font-size: 16px;
    position: relative;
    top: 3px;
    display: block;
    height: 60px;
}
.map-issue .options span, .map-issue .remarks span {
	margin-right:10px;
	top:0px;
}
.remarks span {
    margin-top:-5px;
}
.map-issue .remarks span {
	margin-top:5px;
}
#exception {
    background: #1da2fb url(../images/btn.png) 0px 0 no-repeat;
    border: 1px solid #1da2fb;
    box-shadow: 0 1px #1da2fb inset;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1da2fb, endColorstr=#1da2fb);
    color: #FFF;
    webkit-transition:none;
    transition:none;
    position: relative;
    top: 0px;
}
#exception.disable,#exception.disable:hover{
    cursor:default;
    background: #8acdfa url(../images/btn.png) -303px 0 no-repeat;
    border: 1px solid #8acdfa;
    box-shadow: 0 1px #8acdfa inset;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#8acdfa, endColorstr=#8acdfa);
    color: #FFF;
}
#exception:hover{
    cursor:pointer;
    background: #6ac1fb url(../images/btn.png) -101px 0 no-repeat;
    border: 1px solid #6ac1fb;
    box-shadow: 0 1px #6ac1fb inset;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#6ac1fb, endColorstr=#6ac1fb);
}
#exception:active{
    background: #0063a5 url(../images/btn.png) -202px 0 no-repeat;
    border: 1px solid #0063a5;
    box-shadow: 0 1px #0063a5 inset;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#0063a5, endColorstr=#0063a5);
}

.options .clound, .options .image {
    height: 60px;
    padding-left:1em;
}
.map-issue .options .clound, .map-issue .options .image{
    height:auto;
    line-height:normal;
}
.options .clound {
    border-top: 1px solid #DFDFDF;
}
.options .clound.disable, .options .image.disable {
    color:#9b9b9b;
}
.options .clound, .options .image {
    color:#3E3E3E;
}

.controller-area li,.info li{
	display: inline-block;
	padding:4px 0;
	/*width:80px;*/
}

.options input{
	vertical-align: middle;
    position: relative;
    top: -2px;
}

.controller-area .page-turning{
	display: table-cell;
	width: 20%;
	text-align: center;
	height: 110px;
	line-height: 110px;
	vertical-align: top;
    right: 1%;
    position: relative;
}
.page-turning .button{
    height: 24px;
    line-height: 24px;
    margin-top: 64px;
}

#pageup, #pagedown {
    background: #6D6D6D url(../images/btn.png) 0px -54px no-repeat;
    border: 1px solid #6D6D6D;
    box-shadow: 0 1px #6D6D6D inset;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#6D6D6D, endColorstr=#6D6D6D);
    color: #FFF;
    webkit-transition:none;
    transition:none
}
#pageup.disable, #pageup.disable:hover, #pagedown.disable, #pagedown.disable:hover {
    cursor:default;
    background: #C6C6C6 url(../images/btn.png) -303px -54px no-repeat;
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px #C6C6C6 inset;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#C6C6C6, endColorstr=#C6C6C6);
    color: #FFF;
}
#pageup:hover, #pagedown:hover {
    cursor:pointer;
    background: #A6A6A6 url(../images/btn.png) -101px -54px no-repeat;
    border: 1px solid #A6A6A6;
    box-shadow: 0 1px #A6A6A6 inset;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#A6A6A6, endColorstr=#A6A6A6);
}
#pageup:active, #pagedown:active{
    background: #363636 url(../images/btn.png) -202px -54px no-repeat;
    border: 1px solid #363636;
    box-shadow: 0 1px #363636 inset;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#363636, endColorstr=#363636);
}




.ok,.err{
	display: inline-block;
	width:18px;
	height: 19px;
	margin-top:-2px;
	vertical-align: middle;
}
.ok{
	background: url('/module/common/images/ok.png') no-repeat center center;
}
.err{
	background: url('/module/common/images/err.png') no-repeat center center;
}

/* 巡检界面 */
.make-polling .item-header h3{
	text-align: left;
	font-size: 14px;
	line-height: 30px;
	padding:0 10px;
	margin:0 -12px;
}
.make-polling .item-header h3:hover{
	cursor: pointer;
}
#sidebar {
	font-size: 12px;
}
#sidebar .form-panel .ui.tab.filter {
	padding: 8px 0 8px 12px;
	position: relative;
	border-bottom: 1px solid #FFF;
	background: #F6FBFF;
}
.make-polling form{
	text-align: left;
}
.make-polling .polling.result{
	text-align: left;
	padding: 0;
}
.cameras-list.polling, .tasks-list.polling {
	margin-top:5px;
	height:100%;
    position:relative;
}
.cameras-list.polling .treePanel {
	padding-left:5px;
}
.tasks-list.polling {
	display:none;
}
.tasks-list.polling .group-item .item-body {
	border-bottom: 1px solid #CCC;
	padding-bottom: 7px;
}
.tasks-list.polling .group-item .item-body:last-child {
	border-bottom: none;
}
.make-polling .arrow{
	float: right;
	display: inline-block;
	height: 18px;
	padding-left: 20px;
	margin-top:6px;
	background: url("/module/common/images/arrow.png") no-repeat -31px 0px;
}
.make-polling .drop{
	background: url("/module/common/images/arrow.png") no-repeat 0px 0px;
}

.make-polling .details,.make-polling .searching .status{
	display: none;
}
.make-polling .searching .status {
	display:inline;
}
.icon.arrow {
	display:none;
}
.make-polling .cameras{
	text-align: left;
}
.make-polling .setting-head{
	text-align: left;
}
.group-info .confirm-btn{
	text-align: right;
	padding: 8px 4px 8px 8px;
}
.group-info .item-header p{
	padding:4px 0px;
	margin-left: -2px;
}
.group-info form .hide{
	display: block;
}
.group-info .show-details.left{
	padding-left: 2px;
}
.cameras .opration{
	font-size: 13px;
	margin-left:-9px;
	padding:4px 0;
	border-top: 1px solid #ccc;
}
#auto-polling{
	float: right;
    display:none;
}
.cameras .bytime,.cameras .byhand{
	float: left;
	display: inline-block;
	width: 50px;
}
.cameras .bytime.actived a,.cameras .byhand.actived a{
	color:#1E8BFF;
}
.cameras .bytime.actived .downarrow,.cameras .byhand.actived .downarrow {
	background: url("/module/common/images/downarrow.png") no-repeat 2px 1px;
}
.cameras .bytime a,.cameras .byhand a{
	color:#000;
	font-size: 12px;
}
.cameras .bytime a:hover,.cameras .byhand a:hover{
	color:#1E8BFF;
}
.cameras .bytime .actived{
	color:#1E8BFF;
}
.cameras .byhand .actived{
	color:#1E8BFF;
}
.cameras .list-model,.cameras .block-model{
	float: right;
	display: inline-block;
	width:18px;
	height: 18px;
	padding-left:8px;
	margin-top:4px;
	vertical-align: middle;
}
.cameras .auto-polling{
	padding: 4px 0px 10px 8px;
}
.cameras .polling-model{
	background: #F0F0F0;
	height: 25px;
	padding: 0 6px;
	line-height: 25px;
}
.cameras .downarrow{
	display: inline-block;
	width:10px;
	vertical-align: middle;
	height: 15px;
}
.cameras .bluearrow{
	background: url("/module/common/images/downarrow.png") no-repeat 2px 1px;
}
.cameras .darkarrow{
	background: url("/module/common/images/downarrow.png") no-repeat -20px 1px;
}
.cameras .list-model{
	background: url("../images/polling_model.png") no-repeat 5px 0px;
}
.cameras .list-model.active{
	background: url("../images/polling_model.png") no-repeat -18px 0px;
}
.cameras .block-model{
	background: url("../images/polling_model.png") no-repeat -65px 0px;
}
.cameras .block-model.active{
	background: url("../images/polling_model.png") no-repeat -41px 0px;
}

/* 滚动条 */
.scrollbarPanel {
	height:100%;
	width:265px;
}
.scrollbarPanel .viewport {
	width:250px;
	height:100%;
}
.treePanel {
	width: auto;
	margin-top: 10px;
}
.scrollbarPanel .viewport {
	height:100%;
}
.scrollbarPanel .scrollbar {
	top:7px;
}
.treePanel>ul {
	height:100%;
}

#major .body {
    background-color: #F9F9F9;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0px;
}
#major .pages{
	visibility: hidden;
	margin-right: 5px;
	vertical-align: middle;
}
#major .pages a:hover{
	color:#000;
}
#major .rMenu{
	text-align: center;
	height: 30px;
	float: right;
	text-align: right;
	padding-top:4px;
	width: 230px;
}

#major .item{
	font-size: 12px;
	color:#ccc;
}

#npplay, #gismap {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 36px;
}

.infinity {
    bottom: 9999px !important;
    top: -9999px !important;
}

.map-issue {
	display: none;
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    left: 50px;
    padding: 0px 0 6px 3px;
    position: absolute;
    top: 284px;
    width: 310px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.4);
	cursor:default;
}

.map-issue .mark .normal{
	color:#9ECD00;
}
.map-issue .mark .abnormal {
	color:#C61C1E;
}
.map-issue .image, .map-issue .clound, .map-issue .remarks{
	padding-top:4px;
}
.map-issue .clound {
	display: none;
}
.map-issue .info .options ul {
    margin-left: 43px;
}
.map-issue .info .remarks textarea {
    margin-left: 30px;
    font-size: 12px;
}
.map-issue .image li, .map-issue .clound li{
	display: inline-block;
}

.map-issue .remarks textarea{
	width: 254px;
	height: 80px;
	display: block;
	margin-left: 45px;
    margin-top: 10px;
	border: 1px solid #ccc;
}

#gismap .esriPopup .sizer {
    width: 270px;
}

#gismap .esriPopup .contentPane {
    height: 242px;
    padding: 0;
    position: relative;
    overflow: hidden;
}

#gismap .map-video-start {
    background: url("../images/map-player.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 44px;
    cursor: pointer;
    height: 29px;
    left: 18px;
    position: absolute;
    width: 29px;
}

#mapAbnormal{
}

#mapNormal{

}
.esriPopup .actionsPane {
	padding:0;
}

.esriPopupWrapper .mark{
	/* padding:4px; */
	padding-left: 4px;
}

.esriPopup .contentPane {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #333333;
    max-height: 300px;
    overflow: auto;
    padding: 0;
    position: relative;
}

.esriPopupWrapper .mapcameras{
	/* height: 212px; */
	height: 218px;
	overflow: hidden;
}

.esriPopupWrapper .mappageup{
	margin-left: 84px;
	margin-right: 4px;
}

/* 地图影响了默认em大小 */
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 14px;
}
.ui-widget .ui-widget {
    font-size: 14px;
}
#sidebar>.ui-datepicker {
    display: none;
    padding: 2px 2px 0;
    width: 186px;
}

#classic{
	display: none;
}

.cameraSearch{
}

.polling.result, .polling.type {
	display: none;
}



/*自动巡检遮罩层*/
.autoLayout {
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    opacity:0.5;
    filter: alpha(opacity=50);
    background:#FFF;
    z-index:8;
    display:none;
}
.autoLayout .automain {
    position: fixed;
    top: -50%;
    left: -50%;
    margin:-50px 0 0 -35px;
    z-index:9;
    display: none;
}

.autoLayout .automain p, .autoLayout .automain img {
    opacity:1;
    color:#000;
    font-size: 18px;
}

.mode {
    float:right;
}
.mode a {
    display:inline-block;
    width:32px;
    height:22px;
    text-align:center;
    line-height:22px;
    color:#FFF;
    margin-right:7px;
    background:url("../images/btn-mini.png") no-repeat -39px 0px;
}

.mode .active {
    background-position:0 0;
}

#video-control {
    position:absolute;
    top:-99999px;
    left:-99999px;
    background:transparent;
}
#downBlock {
    height:26px;
    background:transparent;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    z-index:9;
    opacity:0;
    filter: alpha(opacity=0);
}
#downBlockContent {
    height:26px;
    line-height:26px;
    background:#000;
    color:#FFF;
    position:absolute;
    top:0px;
    left:0px;
    text-align:left;
    width:100%;
    z-index:10;
}
#downBlockContent span {
    padding-left:10px;
}
.cameraSearch.treePanel li.leaf {
    padding-left:25px;
}
.cameraSearch.treePanel li.leaf .camearstatus {
    width: 36px;
    text-align: right;
    margin-left:-40px;
    margin-right: 5px;
}
#major .header .function-container {
    z-index:15;
}
.polling li.leaf {
    color:#ACB3B5;
}
.polling li.leaf.doing {
    color:#333;
}

@media screen and (min-width: 1650px){
    .controller-area ul{
        height: 46px;
        float:left;
    }
    .options span {
        display:inline;
        height:auto;
    }
    .options .clound, .options .image {
        height: 56px;
        line-height:56px;
        padding-left: 0.6em;
    }
    .controller-area .remarks textarea {
        width:70%;
    }
}

#npgis_contentDiv .mark{
    padding: 0 4px;
	cursor:default;
}

#npgis_contentDiv .mark p{
    margin: 0 4px
}

#npgis_contentDiv p.mappageup{
    margin-left: 60px;
    /*float: right;*/
}
#npgis_contentDiv p.mappagedown{}

#npgis_contentDiv p.mappagedown{

}

#npgis_contentDiv{
    overflow: visible;
}
.map-issue .options .clound,.map-issue .options .image{
    padding-left: 0; 
}