@charset "utf-8";
/* CSS Document */
/*
 * 东方网力 CSS Library 2.0.0
 * Copyright(c)  2014, 东方网力 CSS
 * @url http://www.netposa.com
 */
.icon_line {
	background:url(/assets/images/inspect/icon.png) -46px 2px no-repeat;
}
.icon_line_gray {
	background:url(/assets/images/inspect/icon.png) -210px 2px no-repeat
}
.icon_line:hover {
	background-position:-46px -40px;
}
.icon_dbline {
	background:url(/assets/images/inspect/icon.png) -69px 2px no-repeat;
}
.icon_dbline_gray {
	background:url(/assets/images/inspect/icon.png) -233px 2px no-repeat
}
.icon_dbline:hover {
	background-position:-69px -40px;
}
.icon_rec {
	background:url(/assets/images/inspect/icon.png) -93px 2px no-repeat;
}
.icon_rec_gray {
	background:url(/assets/images/inspect/icon.png) -257px 2px no-repeat
}
.icon_rec:hover {
	background-position:-93px -40px;
}
.icon_pol {
	background:url(/assets/images/inspect/icon.png) -116px 2px no-repeat;
}
.icon_pol_gray {
	background:url(/assets/images/inspect/icon.png) -280px 2px no-repeat
}
.icon_pol:hover {
	background-position:-116px -40px;
}
.icon_remove {
	background:url(/assets/images/inspect/icon.png) -139px 2px no-repeat;
}
.icon_remove_gray {
	background:url(/assets/images/inspect/icon.png) -303px 2px no-repeat
}
.icon_remove:hover {
	background-position:-139px -40px;
}
.icon_removeall {
	background:url(/assets/images/inspect/icon.png) -163px 2px no-repeat;
}
.icon_removeall_gray {
	background:url(/assets/images/inspect/icon.png) -327px 2px no-repeat
}
.icon_removeall:hover {
	background-position:-163px -40px;
}
.icon_eye {
	background:url(/assets/images/inspect/icon.png) -186px 2px no-repeat;
}
.icon_eye_gray {
	background:url(/assets/images/inspect/icon.png) -350px 2px no-repeat
}
.icon_eye:hover, .icon_eye_active {
	background:url(/assets/images/inspect/icon.png) -186px 2px no-repeat;
	background-position:-186px -40px;
}
.icon_pause{
	background:url(/assets/images/inspect/icon.png) -25px -82px no-repeat;
}
.icon_play{
	background-position: -1px -82px;
}


.icon_look {
	background:url(/assets/images/inspect/icon.png) -2px -157px no-repeat;
}
.icon_scope {
	background:url(/assets/images/inspect/icon.png) -35px -157px no-repeat;
}
.icon_edit {
	background:url(/assets/images/inspect/icon.png) -63px -157px no-repeat;
}
.icon_delete {
	background:url(/assets/images/inspect/icon.png) -95px -157px no-repeat;
}

.icon_video {
	background:url(/assets/images/inspect/icon.png) -151px -64px no-repeat;
}
.icon_editing {
	background:url(/assets/images/inspect/icon.png) -175px -64px no-repeat;
}
.icon_save {
	background:url(/assets/images/inspect/icon.png) -197px -64px no-repeat;
	display:none;
}

.icon_uparrow {
	background:url(/assets/images/inspect/icon.png) -7px -185px no-repeat;
	cursor: pointer;
}
.icon_uparrow:hover {
	background-position:-54px -185px;
}

.icon_downarrow {
	background:url(/assets/images/inspect/icon.png) -22px -185px no-repeat;
	cursor: pointer;
}
.icon_downarrow:hover {
	background-position:-70px -185px;
}

.icon_selected {
	background:url(/assets/images/inspect/icon.png) -193px -156px no-repeat;
}
.icon_none {
	background:url(/assets/images/inspect/icon.png) 100px 100px no-repeat;
}


.icon_run {
	background:url(/assets/images/inspect/icon.png) 5px -390px no-repeat;
}
.icon_run:hover, .icon_run_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position:5px -428px;
}
.icon_follow {
	background:url(/assets/images/inspect/icon.png) -34px -390px no-repeat;
}
.icon_follow:hover, .icon_follow_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position:-34px -428px;
}
.icon_invasion {
	background:url(/assets/images/inspect/icon.png) -126px -390px no-repeat;
}
.icon_invasion:hover, .icon_invasion_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position:-126px -428px;
}
.icon_parking {
	background:url(/assets/images/inspect/icon.png) -262px -390px no-repeat;
}
.icon_parking:hover, .icon_parking_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position:-262px -428px;
}
.icon_detection {
	background:url(/assets/images/inspect/icon.png) -83px -390px no-repeat;
}
.icon_detection:hover, .icon_detection_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position:-83px -428px;
}
.icon_wandering {
	background:url(/assets/images/inspect/icon.png) -171px -390px no-repeat;
}
.icon_wandering:hover, .icon_wandering_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position:-171px -428px;
}
.icon_legacy {
	background:url(/assets/images/inspect/icon.png) -346px -390px no-repeat;
}
.icon_legacy:hover, .icon_legacy_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position:-346px -428px;
}
.icon_lost {
	background:url(/assets/images/inspect/icon.png) -305px -390px no-repeat;
}
.icon_lost:hover, .icon_lost_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position:-305px -428px;
}
.icon_gathered {
	background:url(/assets/images/inspect/icon.png) -216px -390px no-repeat;
}
.icon_gathered:hover, .icon_gathered_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position:-216px -428px;
}
.icon_checkdoor {
	background:url(/assets/images/inspect/icon.png) -216px -461px no-repeat;
}
.icon_checkdoor:hover, .icon_checkdoor_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position:-216px -498px;
}
.icon_fight {
	background:url(/assets/images/inspect/icon.png) -346px -461px no-repeat;
}
.icon_fight:hover, .icon_fight_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position:-346px -498px;
}
.icon_leftchair {
	background:url(/assets/images/inspect/icon.png) -262px -461px no-repeat;
}
.icon_leftchair:hover, .icon_leftchair_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position:-262px -498px;
}
.icon_congestion {
	background:url(/assets/images/inspect/icon.png) -305px -461px no-repeat;
}
.icon_congestion:hover, .icon_congestion_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position:-305px -498px;
}


.icon_per_count {
	background:url(/assets/images/inspect/icon.png) 7px -461px no-repeat;
}
.icon_per_count:hover, .icon_per_count_active {
	background:url(/assets/images/inspect/icon.png)no-repeat;
	background-position: 7px -498px;
}
.icon_car_count {
	background:url(/assets/images/inspect/icon.png) -34px -461px no-repeat;
}
.icon_car_count:hover, .icon_car_count_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position: -34px -498px;
}
.icon_car_logo {
	background:url(/assets/images/inspect/icon.png) -73px -461px no-repeat;
}
.icon_car_logo:hover, .icon_car_logo_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position: -73px -498px;
}
.icon_fireworks {
	background:url(/assets/images/inspect/icon.png) -116px -461px no-repeat;
}
.icon_fireworks:hover, .icon_fireworks_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position: -116px -498px;
}
.icon_face {
	background:url(/assets/images/inspect/icon.png) -153px -461px no-repeat;
}
.icon_face:hover, .icon_face_active {
	background:url(/assets/images/inspect/icon.png) no-repeat;
	background-position: -153px -498px;
}
.icon_add_lib{
    background:url(/assets/images/inspect/icon.png) -218px -62px no-repeat;
}
.icon_video_play{
    background:url(/assets/images/inspect/icon.png) -149px -62px no-repeat;
}
.icon_mark_deal{
    background:url(/assets/images/inspect/icon.png) -174px -62px no-repeat;
}
#major .header .ui.menu.atached .item i.icon.gpu {
	width: 24px;
	height: 25px;
	background: url(/module/inspect/monitor/images/gpu.png) 0 0 no-repeat;
}
#major .header .ui.menu.atached .item i.icon.gpu:hover {
	background: url(/module/inspect/monitor/images/gpu.png) 0 -32px no-repeat;
}




























