<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.danny.lvsen.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.danny.lvsen.pojo.Order" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="way_id" property="wayId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="delivery_date" property="deliveryDate" jdbcType="TIMESTAMP" />
    <result column="handle_date" property="handleDate" jdbcType="TIMESTAMP" />
    <result column="check_user_id" property="checkUserId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="client_id" property="clientId" jdbcType="INTEGER" />
    <result column="handle_user_id" property="handleUserId" jdbcType="INTEGER" />
    <result column="discount" property="discount" jdbcType="REAL" />
    <result column="digest" property="digest" jdbcType="VARCHAR" />
    <result column="storage_id" property="storageId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="total_money" property="totalMoney" jdbcType="REAL" />
    <result column="paid_money" property="paidMoney" jdbcType="REAL" />
    <result column="is_changed" property="isChanged" jdbcType="BIT" />
    <result column="print_count" property="printCount" jdbcType="INTEGER" />
    <result column="pay_status" property="payStatus" jdbcType="BIT" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, number, code, create_user_id, way_id, create_date, delivery_date, handle_date, 
    check_user_id, category_id, client_id, handle_user_id, discount, digest, storage_id, 
    remark, total_money, paid_money, is_changed, print_count, pay_status, ext
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.danny.lvsen.pojo.OrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orders
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.danny.lvsen.pojo.OrderExample" >
    delete from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.danny.lvsen.pojo.Order" useGeneratedKeys="true" keyProperty="id" >
    insert into orders (number, code, create_user_id, 
      way_id, create_date, delivery_date, 
      handle_date, check_user_id, category_id, 
      client_id, handle_user_id, discount, 
      digest, storage_id, remark, 
      total_money, paid_money, is_changed, 
      print_count, pay_status, ext
      )
    values (#{number,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, 
      #{wayId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{deliveryDate,jdbcType=TIMESTAMP}, 
      #{handleDate,jdbcType=TIMESTAMP}, #{checkUserId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
      #{clientId,jdbcType=INTEGER}, #{handleUserId,jdbcType=INTEGER}, #{discount,jdbcType=REAL}, 
      #{digest,jdbcType=VARCHAR}, #{storageId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{totalMoney,jdbcType=REAL}, #{paidMoney,jdbcType=REAL}, #{isChanged,jdbcType=BIT}, 
      #{printCount,jdbcType=INTEGER}, #{payStatus,jdbcType=BIT}, #{ext,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.danny.lvsen.pojo.Order" useGeneratedKeys="true" keyProperty="id" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="number != null" >
        number,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="wayId != null" >
        way_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="deliveryDate != null" >
        delivery_date,
      </if>
      <if test="handleDate != null" >
        handle_date,
      </if>
      <if test="checkUserId != null" >
        check_user_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="handleUserId != null" >
        handle_user_id,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="digest != null" >
        digest,
      </if>
      <if test="storageId != null" >
        storage_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="totalMoney != null" >
        total_money,
      </if>
      <if test="paidMoney != null" >
        paid_money,
      </if>
      <if test="isChanged != null" >
        is_changed,
      </if>
      <if test="printCount != null" >
        print_count,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="ext != null" >
        ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="wayId != null" >
        #{wayId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryDate != null" >
        #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="handleDate != null" >
        #{handleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkUserId != null" >
        #{checkUserId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=INTEGER},
      </if>
      <if test="handleUserId != null" >
        #{handleUserId,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=REAL},
      </if>
      <if test="digest != null" >
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="storageId != null" >
        #{storageId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="totalMoney != null" >
        #{totalMoney,jdbcType=REAL},
      </if>
      <if test="paidMoney != null" >
        #{paidMoney,jdbcType=REAL},
      </if>
      <if test="isChanged != null" >
        #{isChanged,jdbcType=BIT},
      </if>
      <if test="printCount != null" >
        #{printCount,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=BIT},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.danny.lvsen.pojo.OrderExample" resultType="java.lang.Integer" >
    select count(*) from orders
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orders
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.wayId != null" >
        way_id = #{record.wayId,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deliveryDate != null" >
        delivery_date = #{record.deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.handleDate != null" >
        handle_date = #{record.handleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkUserId != null" >
        check_user_id = #{record.checkUserId,jdbcType=INTEGER},
      </if>
      <if test="record.categoryId != null" >
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.clientId != null" >
        client_id = #{record.clientId,jdbcType=INTEGER},
      </if>
      <if test="record.handleUserId != null" >
        handle_user_id = #{record.handleUserId,jdbcType=INTEGER},
      </if>
      <if test="record.discount != null" >
        discount = #{record.discount,jdbcType=REAL},
      </if>
      <if test="record.digest != null" >
        digest = #{record.digest,jdbcType=VARCHAR},
      </if>
      <if test="record.storageId != null" >
        storage_id = #{record.storageId,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.totalMoney != null" >
        total_money = #{record.totalMoney,jdbcType=REAL},
      </if>
      <if test="record.paidMoney != null" >
        paid_money = #{record.paidMoney,jdbcType=REAL},
      </if>
      <if test="record.isChanged != null" >
        is_changed = #{record.isChanged,jdbcType=BIT},
      </if>
      <if test="record.printCount != null" >
        print_count = #{record.printCount,jdbcType=INTEGER},
      </if>
      <if test="record.payStatus != null" >
        pay_status = #{record.payStatus,jdbcType=BIT},
      </if>
      <if test="record.ext != null" >
        ext = #{record.ext,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orders
    set id = #{record.id,jdbcType=BIGINT},
      number = #{record.number,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      way_id = #{record.wayId,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      delivery_date = #{record.deliveryDate,jdbcType=TIMESTAMP},
      handle_date = #{record.handleDate,jdbcType=TIMESTAMP},
      check_user_id = #{record.checkUserId,jdbcType=INTEGER},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      client_id = #{record.clientId,jdbcType=INTEGER},
      handle_user_id = #{record.handleUserId,jdbcType=INTEGER},
      discount = #{record.discount,jdbcType=REAL},
      digest = #{record.digest,jdbcType=VARCHAR},
      storage_id = #{record.storageId,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      total_money = #{record.totalMoney,jdbcType=REAL},
      paid_money = #{record.paidMoney,jdbcType=REAL},
      is_changed = #{record.isChanged,jdbcType=BIT},
      print_count = #{record.printCount,jdbcType=INTEGER},
      pay_status = #{record.payStatus,jdbcType=BIT},
      ext = #{record.ext,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.danny.lvsen.pojo.Order" >
    update orders
    <set >
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="wayId != null" >
        way_id = #{wayId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryDate != null" >
        delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="handleDate != null" >
        handle_date = #{handleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkUserId != null" >
        check_user_id = #{checkUserId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        client_id = #{clientId,jdbcType=INTEGER},
      </if>
      <if test="handleUserId != null" >
        handle_user_id = #{handleUserId,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=REAL},
      </if>
      <if test="digest != null" >
        digest = #{digest,jdbcType=VARCHAR},
      </if>
      <if test="storageId != null" >
        storage_id = #{storageId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="totalMoney != null" >
        total_money = #{totalMoney,jdbcType=REAL},
      </if>
      <if test="paidMoney != null" >
        paid_money = #{paidMoney,jdbcType=REAL},
      </if>
      <if test="isChanged != null" >
        is_changed = #{isChanged,jdbcType=BIT},
      </if>
      <if test="printCount != null" >
        print_count = #{printCount,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=BIT},
      </if>
      <if test="ext != null" >
        ext = #{ext,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.danny.lvsen.pojo.Order" >
    update orders
    set number = #{number,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      way_id = #{wayId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      handle_date = #{handleDate,jdbcType=TIMESTAMP},
      check_user_id = #{checkUserId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      client_id = #{clientId,jdbcType=INTEGER},
      handle_user_id = #{handleUserId,jdbcType=INTEGER},
      discount = #{discount,jdbcType=REAL},
      digest = #{digest,jdbcType=VARCHAR},
      storage_id = #{storageId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      total_money = #{totalMoney,jdbcType=REAL},
      paid_money = #{paidMoney,jdbcType=REAL},
      is_changed = #{isChanged,jdbcType=BIT},
      print_count = #{printCount,jdbcType=INTEGER},
      pay_status = #{payStatus,jdbcType=BIT},
      ext = #{ext,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>