@charset "utf-8";
/* CSS Document */
/*
 * 东方网力 CSS Library 2.0.0
 * Copyright(c)  2014, 东方网力 CSS
 * @url http://www.netposa.com
 */
/*========================================== 样式开始@Start ==========================================*/
.quick_nav {
	background:url(../images/icon.png) -346px -99px no-repeat;
}
.quick_nav_current {
	background:url(../images/icon.png) -358px -99px no-repeat;
}
.local_import {
	background:url(../images/icon.png) -1px -294px no-repeat;
}
.cloud_import {
	background:url(../images/icon.png) -245px -294px no-repeat;
}
.icon_close {
	background:url(../images/icon.png) -197px -32px no-repeat;
}
/*
 * 大图标
 */
.icon_local {
	background:url(../images/icon.png) 0px -2px no-repeat;
}
.icon_cloud {
	background:url(../images/icon.png) -22px 0px no-repeat;
}
.icon_pic {
	background:url(../images/icon.png) -46px 0px no-repeat;
}
.icon_video {
	background:url(../images/icon.png) -69px 0px no-repeat;
}
.icon_folder {
	background:url(../images/icon.png) -91px 0px no-repeat;
}
.icon_delete {
	background:url(../images/icon.png) -115px -6px no-repeat;
}
.icon_small {
	background:url(../images/icon.png) -47px -26px no-repeat;
}
.icon_small:hover {
	background:url(../images/icon.png) -47px -46px no-repeat;
}
.icon_big {
	background:url(../images/icon.png) -60px -26px no-repeat;
}
.icon_big:hover {
	background:url(../images/icon.png) -60px -46px no-repeat;
}
.icon_control {
	background:url(../images/icon.png) -181px -160px no-repeat;
}
.icon_old_image i {
	background:url(../images/icon.png) -99px -30px no-repeat;
}
.icon_old_image:hover i {
	background:url(../images/icon.png) -99px -47px no-repeat;
}
.icon_contrast i {
	background:url(../images/icon.png) -116px -30px no-repeat;
}
.icon_contrast:hover i {
	background:url(../images/icon.png) -116px -47px no-repeat;
}
/*
 * 基础编辑
 */
.icon_rotat {
	background:url(../images/icon.png) -142px -29px no-repeat;
}
.icon_cutting {
	background:url(../images/icon.png) -167px -29px no-repeat;
}
.icon_downarrow {
	background:url(../images/icon.png) -243px -3px no-repeat;
}
.icon_uparrow {
	background:url(../images/icon.png) -228px -3px no-repeat;
}
.icon_downarrow_white {
	background:url(../images/icon.png) -243px -20px no-repeat;
}
.icon_uparrow_white {
	background:url(../images/icon.png) -228px -20px no-repeat;
}
.icon_rightarrow {
    background:url(/module/imagejudge/resource-process/images/rightArrow.png) 0px 0px no-repeat;
}
.icon_leftarrow {
    background:url(../images/icon.png) -228px -3px no-repeat;
}
/*
 * 基础编辑图片旋转
 */
.left_rotat {
	background:url(../images/icon.png) -0px -98px no-repeat;
}
.left_rotat:hover,.left_rotat_current {
	background:url(../images/icon.png) -0px -130px no-repeat;
}
.right_rotat {
	background:url(../images/icon.png) -30px -98px no-repeat;
}
.right_rotat:hover {
	background:url(../images/icon.png) -30px -130px no-repeat;
}
.level_mirror {
	background:url(../images/icon.png) -64px -98px no-repeat;
}
.level_mirror:hover {
	background:url(../images/icon.png) -64px -130px no-repeat;
}
.vertical_mirror {
	background:url(../images/icon.png) -98px -98px no-repeat;
}
.vertical_mirror:hover {
	background:url(../images/icon.png) -98px -130px no-repeat;
}
/*
 * 按钮
 */
.btn {
	color:#333;
	background:url(../images/icon.png) -132px -70px no-repeat;
    width:60px;
    height:28px;
}
.btn_ok {
	color:#fff;
	background:url(../images/icon.png) -67px -70px no-repeat;
}
.btn_yes {
	color:#fff;
	background:url(../images/button-icon.png) 0px 0px no-repeat;
    background-size: 100% 100%;
}
.btn_ok {
	color:#fff;
	background:url(../images/icon.png) -67px -70px no-repeat;
}
.long_btn {
	color:#333;
	background:url(../images/icon.png) -197px -71px no-repeat;
}
.select_file_btn {
	color:#333;
	background:url(../images/icon.png) -4px -349px no-repeat;
}


.listpic {
	background:url(../images/icon.png) -1px -27px no-repeat;
}
.listpic:hover,.listpic_current {
	background:url(../images/icon.png) -1px -47px no-repeat;
}
.mlistpic {
	background:url(../images/icon.png) -21px -27px no-repeat;
}
.mlistpic:hover,.mlistpic_current {
	background:url(../images/icon.png) -21px -47px no-repeat;
}
.thumbnail {
	background:url(../images/icon.png) -302px -100px no-repeat;
}
.thumbnail:hover,.thumbnail_current {
	background:url(../images/icon.png) -302px -119px no-repeat;
}
/*
 * 视图分析
 */
.icon_import {
	background:url(../images/icon.png) -139px -48px no-repeat;
}
.icon_edit {
	background:url(../images/icon.png) -166px -49px no-repeat;
}
/*
 * 画图工具
 */
.icon_rec {
	background:url(../images/icon.png) -299px -43px no-repeat;
}
.icon_rec:hover,.icon_rec.icon_current {
	background:#E6ECFC url(../images/icon.png) -299px -72px no-repeat;
}
.icon_cir {
	background:url(../images/icon.png) -330px -43px no-repeat;
}
.icon_cir:hover,.icon_cir.icon_current {
	background:#E6ECFC url(../images/icon.png) -330px -72px no-repeat;
}
.icon_arrow {
	background:url(../images/icon.png) -356px -43px no-repeat;
}
.icon_arrow:hover,.icon_arrow.icon_current {
	background:#E6ECFC url(../images/icon.png) -356px -72px no-repeat;
}
.icon_text {
	background:url(../images/icon.png) -392px -43px no-repeat;
}
.icon_text:hover,.icon_text.icon_current {
	background:#E6ECFC url(../images/icon.png) -392px -72px no-repeat;
}
.icon_textColor {
	background:url(../images/icon.png) -422px -43px no-repeat;
}
.icon_textColor:hover,.icon_textColor_current {
	background:url(../images/icon.png) -422px -72px no-repeat;
}

.icon_cancel {
	background:url(../images/cancel.png) 4px 5px no-repeat;
}
.icon_cancel:hover,.icon_cancelColor_current {
	background:url(../images/cancel.png) 4px -24px no-repeat;
}

/*
 * 排序图标
 */
.icon_ascend {
	background:url(../images/icon.png) -225px -39px no-repeat;
}
.icon_descend {
	background:url(../images/icon.png) -249px -39px no-repeat;
}
.bRed {background:red;}
.bGreen {background:green;}
.bBlue {background:blue;}
.bYellow {background:yellow;}
.bBlack {background:black;}


/*========================================== 样式开始@End ==========================================*/