harset "utf-8";
/* CSS Document */
/*
 * 东方网力 CSS Library 2.0.0
 * Copyright(c)  2014, 东方网力 CSS
 * @url http://www.netposa.com
 */
/*========================================== 样式开始@Start ==========================================*/

/*
 * 图像处理_image_repair_@Start
 */
 #diskHolder{
 	display: none;
	position: absolute;
	top:50%;
	left: 50%;
	margin-top:-100px;
	margin-left: -100px;
	width:200px;
	height: 200px;
	z-index: 990;
}

#targetImg{
	display: none;
    margin-left: 5px;
}
#orginImg{
    margin-right: 5px;
}
.image_repair {
	overflow:hidden;
	background:#fff;
	border-top:1px solid #e0e4e8;
	border-left: 1px solid #e0e4e8;
	margin-left: 10px;
}
.location {
	height:40px;
	border-bottom:1px solid #e0e4e8;
}
.main_nav {
	height:40px;
	float:left;
}
.main_nav a {
	width:90px;
	height:40px;
	line-height:40px;
	text-align:center;
	float:left;
}
.main_nav a:hover,.main_nav a.current {
	color:#1a77bf;
	font-weight:bold;
	background:url(../images/icon.png) -138px 26px no-repeat;
}
/*
 * 视图缩放_view_@Start
 */
.view {
	height:28px;
	float:right;
	padding:6px 10px;
}
.view_btn {
	height:28px;
	float:left;
}

.view em {
	width: 50px;
	height:28px;
	line-height:28px;
	text-align: right;
	float:left;
}
.view_btn a {
	width:60px;
	height:28px;
	line-height:28px;
	text-align:center;
	float:left;
	color:#666;
	margin:0 5px;
}
.view_btn a.btn_ok {
	color:#fff;
}
.view_control {
	height:20px;
	padding:4px 10px;
	float:left;
}
.view_control i {
	width:10px;
	height:20px;
	float:left;
	cursor: pointer;
}
.view_control span {
	width:115px;
	height:2px;
	background:#E0E4E8;
	float:left;
	margin:10px;
	position:relative;
}
.view_control span b {
	width:20px;
	height:20px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:-8px;
	left:0px;
	z-index:99;
}

/*
 * 视图缩放_view_@End
 */

.sub_nav {
	height:32px;
	background:#f9f9f9;
	border-bottom:1px solid #e0e4e8;
}
.sub_nav li {
	height:32px;
}
.sub_nav li a {
	width:90px;
	height:32px;
	line-height:32px;
	text-align:center;
	float:left;
	color:#333;
}
.sub_nav li a:hover,.sub_nav li a.current {
	font-weight:bold;
	color:#1a77bf;
}

/*
 * 图像操作区域_image_content_@Start
 */
.image_content {
	position:absolute;
	top:75px;
	left:0px;
	right:0px;
	bottom:34px;
	overflow:hidden;
	z-index:0;
}

.image_area {
	overflow:hidden;
	position:absolute;
	top:10px;
	left:10px;
	right:270px;
	border:1px solid #E0E4E8;
	bottom:0px;
	text-align:right;
	background: url(../images/select.png) center center no-repeat;
}
.image_area img {
	position: absolute;
	/*top: 30px;*/
	left: 0;
	/*text-align: center;
	margin: 0 auto;*/
}
.image_look_btn {
	width:125px;
	height:16px;
	padding:6px 5px;
	float:right;
	border:1px solid #ddd;
	position:absolute;
	top:-1px;
	right:-1px;
	z-index:2;
	z-index:40;
	display:none;
	border-radius: 5px;
}
.image_look_bg {
	width:125px;
	height:16px;
	padding:6px 5px;
	float:right;
	border:1px solid #ddd;
	position:absolute;
	top:-1px;
	right:-1px;
	z-index:999;
	background:#fff;
	filter:alpha(opacity=50);
	opacity:0.5;
	z-index:1;
	display:none;
	border-radius: 5px;	
}

.image_area:hover .image_look_btn,
.image_area:hover .image_look_bg{
	display: inline-block;
}

.image_look_btn a {
	display: inline-block;
	width:52px;
	height:16px;
	line-height:16px;
	float:left;
	margin-right: 5px;
}
.image_look_btn a:last-child {
	margin-right:0;
}
.image_look_btn a:hover {
	color:#2176c4;
	font-weight:bold;
}
.image_look_btn a i {
	width:16px;
	height:16px;
	float:left;
	margin:0 5px;
}

.control_panel {
	width:260px;
	position:absolute;
	top:10px;
	right:0px;
	bottom:0px;
}

/*
 * 常规处理_general_@Start
 */
.general {
	overflow:hidden;
}
.basis {
	height: 100%;
	overflow:hidden;
}
/*
 * 图像编辑区域_image_control_@Start
 */
.basic_editing {
	overflow:hidden;
	border:1px solid #ededed;
	border-top:2px solid #1974bd;
	/** border-bottom:none; **/
}
.basic_editing dt {
	height:18px;
	padding:10px;
	display:block;
	background:#f9f9f9;
	border-bottom:1px solid #ededed;
	cursor: pointer;
}
.basic_editing dt i {
	width:18px;
	height:18px;
	float:left;
	margin-right:10px;
}
.basic_editing dt span {
	height:18px;
	line-height:18px;
	font-size:14px;
	float:left;
}
.basic_editing dt b {
	width:18px;
	height:18px;
	float:right;
}
.basic_editing dd {
	padding:10px;
	border-bottom:1px solid #ededed;
	overflow:hidden;
}
/*
 * 旋转方式
 */
.func_rotat {
	height:30px;
	display:block;
	padding:10px;
	overflow:hidden;
	text-align:center;
}
.func_rotat a {
	width:30px;
	height:30px;
	display:inline-block;
	margin:0 5px;
}
/*
 * 任意旋转
 */
.arbitrary_rotat {
	height:28px;
	display:block;
	padding:10px 30px;
	overflow:hidden;
	text-align:center;
}
.arbitrary_rotat label {
	height:28px;
	line-height:28px;
	float:left;
}
.motion_fuzzy .arbitrary_rotat label {
	padding-right: 10px;
}
.arbitrary_rotat input[type='text'] {
	width:40px;
	height:20px;
	line-height:20px;
	text-align:center;
	border:1px solid #ccc;
	float:right;
	margin-left:5px;
}
.arbitrary_rotat .per {
	float: right;
	height: 20px;
	line-height: 20px;
	margin-left: 5px;
	margin-top: 2px;
}
/*
 * 滑动条
 */
.sliding_bar {
	height:8px;
	display:block;
	padding:10px 0;
	overflow:hidden;
	text-align:center;
}
.sliding_bar em {
	width:170px;
	height:8px;
	display:block;
	margin:0 auto;
	background:url(../images/icon.png) -2px -166px no-repeat;
	position:relative;
}
.sliding_bar b {
	width:20px;
	height:20px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:-4px;
	left:0px;
	z-index:99;
}

/*
 * 控制按钮
 */
.control_btn {
	height:28px;
	padding:10px;
	text-align:center;
	display:block;
}
.control_btn a.btn {
	line-height:28px;
	text-align:center;
	color:#666;
	display:inline-block;
	margin:0 10px;
}
.control_btn a.btn.recommend_value{
	width:85px;
	background-position: -195px -70px;
}
.control_btn a.btn_ok,.control_btn a.btn_yes {
	color:#fff;
    width:70px;
    height:28px;
}
/*
 * 图像裁切
 */
.basic_editing dd select {
	width:100%;
	border:1px solid #ccc;
}
.cut_num, .sf_num {
	padding:10px 0;
	display:block;
	overflow:hidden;
}
.cut_num p,.sf_num p {
	height:24px;
	padding:3px 0;
	overflow:hidden;
}
.cut_num p em,.sf_num p em {
	width:86px;
	height:24px;
	line-height:24px;
	overflow:hidden;
	float:left;
}
.cut_num p i,.sf_num p i {
	width:40px;
	height:20px;
	line-height:20px;
	text-align:center;
	float:left;
}
.cut_num p input[type='text'],.sf_num p input[type='text'] {
	width:86px;
	height:20px;
	line-height:20px;
	border:1px solid #ccc;
	float:left;
}
.median_filter .morph_type {
	margin-left: 5px;
}
.median_filter .morphlabel {
	display: inline-block;
}
.lock_num {
	height:24px;
	display:block;
	overflow:hidden;
	padding:0px;
}
.lock_num input[type='checkbox'] {
	float:left;
	padding:0px;
	margin:6px 5px 0 0px;
}
.lock_num b {
	height:24px;
	line-height:24px;
	float:left;
}

/*
 * 锐化
 */
 .auto_sharpen {
 	padding-left: 15px;
 }
 .auto_sharpen .auto_sharpen_button {
 	virtical-align: middle;
 }

 /*
  * 膨胀
  */
  .pz .arbitrary_rotat,
  .fs .arbitrary_rotat {
	height: 28px;
	display: block;
	padding: 10px 30px;
	overflow: hidden;
	text-align: center;
	padding-right: 0;
	float: left;  	
  }
  .pz .median_filter .morph_type,
  .fs .median_filter .morph_type {
	float: right;
	width: 70px;
	margin-right: 25px;
	margin-top: 13px;  	
  }

/*
 * 图像编辑区域_image_control_@End
 */
/*
 * 常规处理_general_@End
 */

.senior {
    overflow: auto;
}
.editReminder{
    margin-top: 10px;
    width: 220px;
    height: 200px;
    background-color: #FFF2C0;
    position:relative;
    border:1px solid #F2DF99;
    border-radius : 5px;
}
.editReminder em{
    display:block;
    border-width:12px;
    position:absolute;
    bottom:160px;
    left:220px;
    border-style:dashed dashed dashed solid;
    border-color:transparent transparent transparent #F2DF99;
    font-size:0;
    line-height:0;
}
.editReminder span {
    display: block;
    border-width: 11px;
    position: absolute;
    bottom: 160px;
    left: 220px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #FFF2C0;
    font-size: 0;
    line-height: 0;
}
.editExplainImg{
    display: block;
    position: absolute;
    bottom: 163px;
    left: 240px;
 }
.editReminder .editExplainTitle{
    color: #FF9C00;
    font-size : 14px;
    margin-top: 10px;
    margin-left: 10px;
}
.editReminder .editExplainContent{
    color: #E09710;
    font-size : 12px;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 1.5;
}
.editReminder .uEditExplainTitle{
    color: #FF9C00;
    font-size : 14px;
    margin-top: 10px;
    margin-left: 10px;
}
.editReminder .uEditExplainContent{
    color: #E09710;
    font-size : 12px;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 1.5;
}
.editExplainImgHide{
    margin-left: 240px;
    margin-top: 30px;
}
/*
 * 历史记录
 */
.history_image {
	background:#f8f8f8;
	position:absolute;
	left:10px;
	right:0px;
	bottom:0px;
	z-index:999;
	border:1px solid #E0E4E8;
}
.history_image span {
	/* width:115px; */
	height:24px;
	line-height:24px;
	background:#f8f8f8;
	display:block;
	cursor:pointer;
	border:1px solid #E0E4E8;
	border-bottom:none;
	position:absolute;
	top:-24px;
	left:-1px;
	z-index:999;
	padding-right: 7px;
}
.history_image span i {
	float: left;
    height: 18px;
    width: 18px;
	margin:3px;
}
.history_image.active span i{
	background-position: -228px -3px;
}
.history_image .history_image_list {
	height:80px;
	width: 1005px;
	padding:10px 0;
	/*border:1px solid #E0E4E8;*/
	border-bottom:none;
	background:#f8f8f8;
	overflow:hidden;/*
	position:relative;*/
	display:none;
}
.history_image.active .history_image_list{
	display: block;	
}

.history_image_list .viewport{
	height: 90px;
	width: 1000px;
}
.history_image_list .overview{
	height:90px;
	position:relative;
	top:-12px;
	left:10px;
	bottom:0px;
	right:100px;
	white-space: nowrap;/*
	overflow-x: scroll;*/
	overflow: hidden;
	display: block;
}
.history_image_list ul {
	height:80px;
	overflow:hidden;
	position:absolute;
	top:10px;
	left:10px;
	bottom:0px;
	right:100px;
	/*width: 1600px;*/
}
.history_image_list ul li {
	width:100px;
	height:70px;
	margin:5px;
	overflow:hidden;
	float:left;
	position:relative;
	cursor: pointer;
}
.history_image_list ul li.active {
	width:100px;
	height:70px;
	margin:3px 1px 3px 3px;
	overflow:hidden;
	float:left;
	position:relative;
	cursor: pointer;
	border: 2px solid #2A74C5;
}
.history_image_list ul li img {
	width:100px;
	height:70px;
	overflow:hidden;
}
.history_image ul li a {
	width: 12px;
	height: 12px;
	display:block;
    position: absolute;
    right: 0px;
    top: 0px;
	z-index:9999;
	display:none;
}
.history_image_list em {
	width:100px;
	height:80px;
	overflow:auto;
	text-align:center;
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
}
.history_image_list em.btn_saveall {
	top: 20px;
	right: 10px;
}
.history_image_list em.btn_clear {
	top: 55px;
	right: 10px;
}
.history_image_list em a {
	width:80px;
	height:27px;
	line-height:27px;
	display:inline-block !important;
}
.history_image_list em.btn_saveall a {
	color:#fff;
}
.history_image_list em.btn_clear a {
	color:#333;
}
/* -- 入库 --*/
.view_btn ul.drop-menu{
	display: none;
	position: absolute;
	width: 130px;
	color: #666;
	top:41px;
	right: 362px;
	z-index: 1001;
	background-color: #F9F9F9;
	border:1px solid #E0E4E8;
	border-bottom: none;
}

.view_btn ul.drop-menu:before{
	display: block;
	position: absolute;
	z-index: 1001;
	content: "";
	top:-6px;
	left:65px;
	border:6px solid #FFF;
	border-top-width:0;
	border-bottom-color:#E0E4E8;
}
.view_btn ul.drop-menu:after{
	display: block;
	position: absolute;
	z-index: 1001;
	content: "";
	top:-4.5px;
	left:65px;
	border:6px solid transparent;
	border-top-width:0;
	border-bottom-color:#F9F9F9;
}

.view_btn ul.drop-menu li{
	position: relative;
	text-align: center;
	height: 23px;
	line-height: 23px;
	padding: 2px 0;
	border-bottom: 1px solid #E0E4E8;
	cursor: pointer;
}
/*.view_btn ul.drop-menu li:last-child{
	border-bottom-width:0; 
}*/
/*.view_btn ul.drop-menu li.group1.close{
	border-bottom-width:0; 
}*/
.view_btn ul.drop-menu li.group2{
	background-color: #FFF;
}
.view_btn ul.drop-menu li.group2:hover{
	background-color: #F9F9F9;
}
.view_btn ul.drop-menu li.group1 b{
	position: absolute;
	right: 1px;
	top:3px;
	height: 18px;
	width: 18px;
}
.main_right .history_image em.snapshot{
	/*float: left;*/
}
/* 奇偶场 */
.fs .median_filter .oddeven_type{
	float: right;
	width: 100px;
	margin-right: 25px;
	margin-top: 13px;  	
}

.moveRowpf{
	padding-right: 30px!important;
	float: none !important;
}
/* -- End of 入库 --*/
/*========================================== 样式开始@End ==========================================*/